.treeview {
  >.v-treeview-node {
    >.v-treeview-node__root {
      &:after {
        height: 0;
      }

      padding-bottom: 1.5625rem !important;

      >.v-treeview-node__toggle {
        display: none;
      }
    }

    >.v-treeview-node__children {
      margin-left: 0 !important;

      >.v-treeview-node {
        &:last-child {
          >.v-treeview-node__root {
            &:after {
              height: 0;
            }
          }
        }
      }
    }
  }
}

.treeview {
  .v-treeview-node {
    &__root {
      position: relative;
      padding: 0.5rem 0 !important;

      min-height: auto !important;
    }

    &__root:after {
      content: '';
      position: absolute;
      left: 25px;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &__level {
      width: 0 !important;
    }

    &__children {
      margin-left: 0.3125rem;
    }

    &__content {
      margin-left: 0.5rem !important;
    }
    &__label {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.0625rem;
      letter-spacing: 0;

      color: #1d2452;
    }

    &__toggle {
      width: auto !important;

      order: 3;

      transform: none !important;

      .v-icon__component {
        height: 1rem !important;
        width: auto !important;
        color: #1d2452;
      }
    }
    &__toggle--open {
      transform: rotate(-180deg) !important;

      .v-icon__component {
        color: #415ada;
      }
    }
    &__checkbox {
      margin: 0 !important;

      width: auto !important;

      .v-icon__component {
        height: 1.125rem !important;
        width: 1.125rem !important;
        color: rgba(65, 90, 218, 0.1);
      }
    }

    &--selected .v-icon__component {
      opacity: 1 !important;
    }

    .v-icon.v-icon::after {
      display: none !important;
    }
  }

  &.v-input--is-dirty .v-icon__component,
  &.v-input--indeterminate .v-icon__component {
    color: #415ada;
    opacity: 1 !important;
  }
}
